.login {
    display: flex;
    justify-content: center;;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(../../image/Featured.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .loginContainer {
    background-color: #fff;
    padding: 54px 30px 52px;
    width: 300px;
    box-shadow: 10px 17.321px 40px 0px rgba(107, 125, 131, 0.3);
    border-radius: 4px;
    text-align: center;
    padding: 54px 65px 52px;
    margin-bottom: 20px;
  }
  .loginContainer > *:not(:last-child) {
    min-width: 400px;
  }
 
  .loginText {
    padding-top: 20px;
    color: #242020;
    font-size: 20px;
    font-weight: 800;
  }

  